*.o
libs/client/client_app/debug/client_app.exe
*.Release
libs/client/client_app/Makefile.Debug
*.Debug
libs/client/client_app/Makefile
*.exe
libs/console_tests/Makefile
libs/Makefile
Projects/Czolgi.pro.user
*.user
*.a
libs/client/client_lib/Makefile
libs/common/Makefile
libs/server/server_lib/Makefile
*.user

*.user

*.1d1d9f0

*.user

*.user

Projects/Czolgi.pro.user
build-Czolgi-Desktop_Qt_5_5_0_MinGW_32bit-Debug/client/client_app/debug/moc_tankmodel.cpp
build-Czolgi-Desktop_Qt_5_5_0_MinGW_32bit-Debug/client/client_lib/debug/moc_client.cpp
