*.o
libs/client/client_app/debug/client_app.exe
*.Release
libs/client/client_app/Makefile.Debug
*.Debug
libs/client/client_app/Makefile
*.exe
libs/console_tests/Makefile
libs/Makefile
Projects/Czolgi.pro.user
*.user
*.a
libs/client/client_lib/Makefile
libs/common/Makefile
libs/server/server_lib/Makefile
*.user

*.user

*.1d1d9f0

*.user

*.user

Projects/Czolgi.pro.user
